html{
    background-color: #fff6f2;
    padding: 20px;
}

button{
    width: 120px;
    height: 100px;
    font-size: 26pt;
    background-color: #7b5544;
}

input[type="range"]{
    width: 50px;
    height: 250px;
    -webkit-appearance: slider-vertical;
    background-color: #7b5544;
    margin: 20px 0px;;
}

input[type="submit"]{
    width: 200px;
    height: 100px;
    font-size: 26pt;
    background-color: #7b5544;
}

#title{
    color: #000;
    text-align: center;
    margin: 10px 0px;
}

#main{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px;
}

#button_area{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin: 10px;
}

#ctrl{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 120px 120px 120px;
}

.ctl_button{
    margin: 10px 15px;
}

#go{
    grid-row: 1;
    grid-column: 2;
}

#left{
    grid-row: 2;
    grid-column: 1;
}

#stop{
    grid-row: 2;
    grid-column: 2;
}

#right{
    grid-row: 2;
    grid-column: 3;
}

#back{
    grid-row: 3;
    grid-column: 2;
}

#range_area{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    margin: 10px;
}

.ctl_range{
    text-align: center;
}

#main2{
    display: flex;
    justify-content: center;
}

#status{
    border: solid 3px #000;
    padding: 10px;
    background-color: #fff;
}

#foot{
    color: #000;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

#logo{
    padding: 20px;
    display: flex;
    align-items: flex-end;
}